{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div id="workName" class="col-sm-2 col-md-2 col-lg-1">
            <ul class="list-group text-center">
                <strong class="">作业名称</strong>
                {% for workname in  workname_list %}
                    {% if  forloop.counter  == 1 %}
                        <li class="list-group-item active" id="{{ workname }}">{{ workname }}</li>
                    {% else %}
                        <li class="list-group-item" id="{{ workname }}">{{ workname }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="stu_area" class="col-sm-3 col-md-3 col-lg-2">
            <table class="table table-hover text-center table-bordered">
                <thead>
                <th>学号</th>
                <th>姓名</th>
                </thead>
                <tbody>
                {% for stu in stu_info %}
                    {% if forloop.counter == 1 %}
                        <tr id="{{ stu.stuno }}" class="">
                            <td>{{ stu.stuno }}</td>
                            <td>{{ stu.stuname }}</td>
                        </tr>
                    {% else %}
                        <tr id="{{ stu.stuno }}">
                            <td>{{ stu.stuno }}</td>
                            <td>{{ stu.stuname }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="work_area" class="col-sm-5 col-md-5 col-lg-5">
            <table class="table text-center">
                <thead>
                <th>作业区</th>
                </thead>
                <tbody>

{##}
                {% for choice_answer_list in choice_double_answer_list %}

                    <tr>
                        {% for choice_answer in choice_answer_list %}
                            <td id="{{ choice_answer.no }}">{{ choice_answer.no }}. {{ choice_answer.content }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

<script>
    //fuck you
</script>