{% extends 'base.html' %}

{% block content %}
    {{ test }}
    <div class="row">
        <div id="workName" class="col-sm-2 col-md-2 col-lg-1">
            <ul class="list-group text-center">
                <strong class="">作业名称</strong>
                {% for workname in  workname_list %}
                    {% if  workname  == req_workname %}
                        <li class="list-group-item active" id="workname_select">{{ workname }}</li>
                    {% else %}
                        <li class="list-group-item">{{ workname }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id="stu_area" class="col-sm-3 col-md-3 col-lg-2">
            <table class="table table-hover table-condensed table-bordered">
                <thead>
                <th>学号</th>
                <th>姓名</th>
                </thead>
                <tbody>
                {% for stu in stu_info %}
                    {% if req_stuno == stu.stuno %}
                        <tr  class="table-primary">
                            <td class="stuno" id="stuno_select">{{ stu.stuno }}</td>
                            <td>{{ stu.stuname }}</td>
                        </tr>
                    {% else %}
                        <tr >
                            <td class="stuno">{{ stu.stuno }}</td>
                            <td>{{ stu.stuname }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="work_area" class="col-sm-6 col-md-6 col-lg-6">
            <table class="table   table-condensed table-bordered">
                {#            <caption>作业区</caption>#}
                <thead class="text-center">
                <th colspan="5"><strong>作业区</strong></th>
                </thead>
                <tbody>

                {#                选择题答案区#}
                {% for choice_answer_list in choice_double_answer_list %}

                    <tr>
                        {% for choice_answer in choice_answer_list %}
                            <td id="{{ choice_answer.no }}">{{ choice_answer.no }}. {{ choice_answer.content }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><textarea class="form-control"></textarea></td>
                    <td>
                        <button class="button btn-primary" id="choicheBtn">选择题提交</button>
                    </td>
                </tr>
                {#                填空题答案区#}
                {% for blank_answer_list in blanks_double_answer_list %}
                    <tr>
                        {% for blank_answer in blank_answer_list %}
                            <td class="" id="{{ blank_answer.no }}"> {{ blank_answer.no }} &nbsp;&nbsp;
                                {% for cur_content in blank_answer.content %}
                                    <label class="form-check-label ">
                                        <input type="checkbox" class=""
                                               id="td{{ blank_answer.no }}">&nbsp;{{ cur_content }}
                                    </label>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="4"><textarea class="form-control"></textarea></td>
                    <td>
                        <button class="btn btn-primary" id="blankBtn">填空题提交</button>
                    </td>
                </tr>

                {#                解答题答案区#}
                {% for answer_question in answer_question_list %}
                    <tr>
                        <td colspan="5">
                            {{ answer_question.no }}&nbsp;
                            <input type="checkbox" id="td{{ answer_question.no }}">
                            {% for cur_content in answer_question.content %}
                                {{ cur_content }},
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><textarea class="form-control"></textarea></td>
                    <td>
                        <button class="btn btn-primary" id="answerQuestionBtn">解答题提交</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="problem_area" class="col-sm-1 col-md-1 col-lg-3">
            <table class="table table-condensed">
                <thead>
                <th>题目区</th>
                </thead>
                <tbody>
                {% for problem in problem_answer_list %}
                    <tr>
                        <td>
                            {{ problem.prob_no }}&nbsp;
                            {{ problem.prob_content }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script>
        //fuck you
        $(document).ready(function () {
            // 选取第一章的作业
            $("li").click(function () {
                {#alert($(this).html())#}
                workname = $(this).html()   // 获取章节名称,string类型
                stuno_select = $('#stuno_select').text()
                console.log("列表点击："+workname+" "+stuno_select)
                $.ajax({
                    type:"GET",
                    url: "/homework",
                    data:{
                        "workname":workname,
                        "stuno":stuno_select
                    },
                    success: function (msg) {
                        console.log(msg)
                        window.location.href = '/homework?workname='+workname+"&stuno="+stuno_select
                        {#window.location.reload()  //刷新页面#} 这个操作不管用
                    },
                    error: function () {
                        console.log("更新作业数据失败")
                    }
                })
            });
            $(".stuno").click(function () {
                {#alert($(this).text())#}
                stuinfo = $(this).text()
                workname_select = $('#workname_select').text()
                console.log(stuinfo)
                console.log(workname_select)
                $.ajax({
                    type:"GET",
                    url:"/homework",
                    data:{
                        "workname": workname_select,
                        "stuno":stuinfo
                    },
                    success: function (msg) {
                        console.log(msg);
                        window.location.href = '/homework?workname='+workname_select+"&stuno="+stuinfo
                    },
                    error:function () {
                        console.log("更新学生数据失败")
                    }

                })
            })
            $("#choicheBtn").click(function () {
                alert("点击了选择题区域的按钮")
            });
            $('#blankBtn').click(function () {
                alert("点击了填空题区域的按钮")
            });
            $("#answerQuestionBtn").click(function () {
                alert("点击了解答题区域的按钮")
            })
        })
    </script>
{% endblock %}

