{%  extends 'base.html' %}

{% block content %}
<div class="row">
<div id="workName" class="col-sm-2 col-md-2 col-lg-1">
    <ul class="list-group">
        {% for workname in  workname_list %}
            {% if  forloop.counter  == 1 %}
                <li class="list-group-item active" id="{{ workname }}">{{ workname }}</li>
            {% else %}
                <li class="list-group-item" id="{{ workname }}">{{ workname }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}

<script>
    //fuck you
</script>